 {% extends '../shared/navigation.html' %}
{% load static %}

{% block css %}
<style>
/* width */
::-webkit-scrollbar {width: 5px;}
/* Track */
::-webkit-scrollbar-track {background: #f1f1f1;}
/* Handle */
::-webkit-scrollbar-thumb {background: #888;}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {background: #555;}
</style>
{% endblock %}

{% block body %}
  <body>
    <!-- Content -->
    <main>
    <h1>&nbsp;</h1><h1>&nbsp;</h1>
        <!-- Login - Heading -->
        <div class="g-color-white text-center" style="background-color: red">
            <h1 class="mb-0"><i class="fa fa-fw fa-check-circle-o"></i>
                Error!
            </h1>
            <h4 class="mb-0">
                <i class="fa fa-fw fa-bookmark-o"></i>

            </h4>
        </div>
        <!-- End Login - Heading -->

        <!-- Login -->
        <div class="container">

        </div>
        <!-- Login -->
        <h1>&nbsp;</h1>
        <!-- End Call to Action -->
      </main>
    <!-- End Content -->

{% endblock %}

{% block js %}
<script >
  /*global $*/
  $(document).on('ready', function () {
        $.HSCore.components.HSDatepicker.init('#week-of-datepicker');
      });
</script>
{% endblock %}