{% extends '../shared/navigation.html' %}
{% load static %}
{% block css %}
    <style>
        /* width */
        ::-webkit-scrollbar {
            width: 5px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #888;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    </style>
{% endblock %}
{% block body %}
    <main>

        <!-- Title -->
        <div class="container g-pt-50 g-pb-80">
            <h1 class="h2 mb-0" style="display:inline-block"><i
                    class="fa fa-fw fa-sign-in"></i>Login</h1>
        </div>
        <!-- End Title -->

        <!-- Listing - Main Info -->
        <div class="container">

            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6"  style="background-color:#ececec; padding:30px 15px 30px 15px; border-radius: 5px;">

                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="username" class="">Email:</label><br>
                                <input type="text" name="username" id="username" class="form-control" value="{{ UserName }}">
                            </div>
                            <div class="form-group">
                                <label for="password" class="">Password:</label><br>
                                <input type="password" name="password" id="password" class="form-control">
                            </div>
                            <div class="form-group">
                                <a href="{% url 's_recover' %}" class="text-info">Recover my account</a>&nbsp;
                                  <label for="remember-me" class=""  style="display:none;"><span>Remember me?</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label>
                                <br>
                            </div>
                             <div style="color: red">{{ ErrorMessage }}</div>
                            <div id="register-link" class="text-right">
                                <input type="submit" name="submit" class="btn btn-danger btn-md" value="Login">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-5 mb-5">&nbsp;</div>
    </main>

{% endblock %}

{% block js %}
    <script>
        /*global $*/
        $(document).on('ready', function () {
            $.HSCore.components.HSDatepicker.init('#week-of-datepicker');
        });
    </script>
{% endblock %}