
    <!--Form-->
    <div class="container g-pb-30" style="margin-top:10px" id="divForm">

        <form id="fmEditorSub">
            <input type="hidden" name="qid" value="{{ qid }}"/>
            <div class="row justify-content-center" id="divFormInputs">
                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 g-mb-30">
                    {% csrf_token %}
                    <table cellpadding="3" cellspacing="3">
                        <tr>
                            <td>First Name<i class="fa fa-fw fa-asterisk text-danger"></i></td>
                            <td style="width: 400px"><input class="form-control" type="text" isrequire="1"
                                                            name="PatientFirstName"
                                                            id="PatientFirstName"
                                                            value="{{ Pat.PatientFirstName }}" maxlength="32"
                                                            style="width: 100%"></td>
                        </tr>
                        <tr>
                            <td>Last Name<i class="fa fa-fw fa-asterisk text-danger"></i></td>
                            <td><input class="form-control" type="text" isrequire="1" name="PatientLastName"
                                       id="PatientLastName"
                                       value="{{ Pat.PatientLastName }}" maxlength="32" style="width: 100%">
                            </td>
                        </tr>
                        <tr>
                            <td>DOB<i class="fa fa-fw fa-asterisk text-danger"></i></td>
                            <td>
                                <div class="input-group g-brd-primary--focus">
                                    <input type="date" name="PatientDOB" maxlength="10" isrequire="1"
                                           id="PatientDOB" value="2000-01-01"
                                           class="form-control"
                                            required>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Zip Code<i class="fa fa-fw fa-asterisk text-danger"></i></td>
                            <td><input class="form-control" type="text" isrequire="1" maxlength="5"
                                       name="PatientAddrZip" value="{{ Pat.PatientAddrZip }}"
                                       id="PatientAddrZip"></td>
                        </tr>

                        <tr>
                            <td>Mobile Number<i class="fa fa-fw fa-asterisk text-danger"></i></td>
                            <td><input class="form-control" isphone="1" type="text" maxlength="16"
                                       isrequire="1" value="{{ Pat.PatientMobilePhone }}"
                                       onkeydown="oldPhoneTextValue = this.value;" title="xxx-xxx-xxxx"
                                       name="PatientMobilePhone" id="PatientMobilePhone"
                                       onkeyup="autoFillPhone(this,event);"></td>
                        </tr>

                        <tr>
                            <td>Email

                                <i class="fa fa-fw fa-asterisk text-danger"></i>

                            </td>
                            <td><input class="form-control" type="text" maxlength="32" isrequire="1"
                                       name="PatientEmail" value="{{ Pat.PatientEMail }}"
                                       id="PatientEmail" style="width: 100%"></td>

                        </tr>
                        <tr>

                            <td colspan="2">
                                <div class="g-mb-20" style="margin: auto;  border: 1px solid #dddddd; padding: 5px;">
                                    <h4 class="h6 g-font-weight-700 g-mb-20" style="text-align: left"
                                        data-i18n="somos-intake-tos-d">If you would like to receive additional
                                        information
                                        about Somos Community Care please review the following Terms of Use and check
                                        this
                                        box to accept the Terms of Use and consent to receive the information.</h4>
                                    <div style="display: flex; justify-content: center">
                                        <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                                            <input type="checkbox" name="iAgree"
                                                   class="g-xs-up g-pos-abs g-top-5 g-left-5 required"
                                                   required id="id_iAgree">
                                            <span data-i18n="somos-intake-agree">I Agree</span>&nbsp;<b><a href="#"
                                                                                                           data-i18n="somos-intake-tos"
                                                                                                           data-toggle="modal"
                                                                                                           data-target="#terms-of-service-modal">Terms
                                            of Use</a></b><i class="fa fa-fw fa-asterisk text-danger"></i>
                                        </label>
                                    </div>
                                </div>

                            </td>
                        </tr>

                    </table>

                    <div style="display: flex; justify-content: center">
                        <button class="btn btn-xl btn-success" onclick="return gotoConfirm(this)">
                            <i class="fa fa-check-circle-o text-white"></i> Submit
                        </button>
                        &nbsp;&nbsp;
                        <button class="btn btn-xl btn-primary" onclick="window.localStorage.setItem('hidesubsribe','1');window.location.href='/p/covid/'">
                            <i class="fa fa-close text-white"></i> Cancel
                        </button>

                    </div>
                </div>
            </div>
        </form>
    </div>


    <div class="container g-pb-30" style="margin-top:40px; margin-bottom: 40px;display: none" id="divFormSubmitted">
        <h3 class="g-color-green">Your form have been saved successfully, we will notify you when a vaccine is available
            in your area.</h3>
        <div style="display: flex; justify-content: center; margin-top: 50px">
            <button id="go_back" class="btn btn-xl btn-success" onclick="window.localStorage.setItem('hidesubsribe','1');window.location.href='/p/covid/'">
                <i class="fa fa-check-circle-o text-white"></i> Go Back
            </button>
        </div>
    </div>



<!-- Modal -->
<div class="modal fade" id="terms-of-service-modal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle" data-i18n="somos-intake-tos">Terms of Use</h5>
                <button type="button" class="close" onclick="$('#terms-of-service-modal').modal('hide')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="max-height:400px; overflow-y:scroll;">
                <p data-i18n="somos-intake-tos-a"></p>
                <p><b data-i18n="somos-intake-tos-b"></b></p>
                <p data-i18n="somos-intake-tos-c"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="$('#terms-of-service-modal').modal('hide')" data-i18n="somos-close">Close
                </button>
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div>
    </div>
    <div id="divDialogControl"></div>
</div>

