{% load static %}

    <main id="mainForm2" style="display: none">
        <!-- Call to Action -->
        <div class="bg-corona g-py-100">
            <div class="g-max-width-645 text-center mx-auto">

                <h1 class="g-color-white g-font-weight-600" data-i18n="covid-screening-title"></h1>

            </div>
        </div>
        <!-- End Call to Action -->
        <!-- Login - Heading -->
        <div class="g-max-width-645 text-center g-pt-100 mx-auto g-mb-80">
            <h3 class="mb-4 text-muted" data-i18n="covid-screening-form-name"></h3>
            <h5 class="text-muted" data-i18n="covid-screening-form-description"></h5>
        </div>
        <!-- End Login - Heading -->

        <!-- Login -->
        <div class="container g-pb-30">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-12 g-mb-70">


                    <!-- Login Form -->
                    <form class="g-mb-30" action="/your-name/" method="post" id="fmEditor2" onsubmit2="return submitScreenForm();">
                        {% csrf_token %}
                        <input type="hidden" name="SiteMode" value="{{ SiteMode }}"/>


                        <div class="g-mb-20" id="q1">
                            <h4 class="h5 g-font-weight-700 g-mb-20" data-i18n="rendr-q1-i">loading...</h4>

                            <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                                <label for="q1_yes"><input type="radio" name="q1" value="Yes"
                                                           class="g-xs-up g-pos-abs g-top-0 g-left-0" id="q1_yes">
                                    <span data-i18n="somos-yes">loading...</span></label>
                            </label>

                            <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                                <label for="q1_no"><input type="radio" name="q1" value="No"
                                                          class="g-xs-up g-pos-abs g-top-0 g-left-0" id="q2_no">
                                    <span data-i18n="somos-no">loading...</span></label>
                            </label>

                        </div>


                        <div class="g-mb-20" id="q2">
                            <h4 class="h5 g-font-weight-700 g-mb-20" data-i18n="rendr-q2-i">loading...</h4>

                            <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                                <label for="q2_yes"><input type="radio" name="q2" value="Yes"
                                                           class="g-xs-up g-pos-abs g-top-0 g-left-0" id="q2_yes">
                                    <span data-i18n="somos-yes">loading...</span></label>
                            </label>

                            <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                                <label for="q2_no"><input type="radio" name="q2" value="No"
                                                          class="g-xs-up g-pos-abs g-top-0 g-left-0" id="q2_no">
                                    <span data-i18n="somos-no">loading...</span></label>
                            </label>

                        </div>


                        <div class="g-mb-20" id="q3">
                            <h4 class="h5 g-font-weight-700 g-mb-20" data-i18n="rendr-q3-i">loading...</h4>

                            <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                                <label for="q3_yes"><input type="radio" name="q3" value="Yes"
                                                           class="g-xs-up g-pos-abs g-top-0 g-left-0" id="q3_yes">
                                    <span data-i18n="somos-yes">loading...</span></label>
                            </label>

                            <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                                <label for="q3_no"><input type="radio" name="q3" value="No"
                                                          class="g-xs-up g-pos-abs g-top-0 g-left-0" id="q2_no">
                                    <span data-i18n="somos-no">loading...</span></label>
                            </label>

                        </div>


                        <div class="g-mb-20" id="q4">
                            <h4 class="h5 g-font-weight-700 g-mb-20" data-i18n="rendr-q4-i">loading...</h4>

                            <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                                <label for="q4_yes"><input type="radio" name="q4" value="Yes"
                                                           class="g-xs-up g-pos-abs g-top-0 g-left-0" id="q4_yes">
                                    <span data-i18n="somos-yes">loading...</span></label>
                            </label>

                            <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                                <label for="q4_no"><input type="radio" name="q4" value="No"
                                                          class="g-xs-up g-pos-abs g-top-0 g-left-0" id="q2_no">
                                    <span data-i18n="somos-no">loading...</span></label>
                            </label>

                        </div>


                        <div class="g-mb-20" id="q5">
                            <h4 class="h5 g-font-weight-700 g-mb-20" data-i18n="rendr-q5-i">loading...</h4>

                            <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                                <label for="q5_yes"><input type="radio" name="q5" value="Yes"
                                                           class="g-xs-up g-pos-abs g-top-0 g-left-0" id="q5_yes">
                                    <span data-i18n="somos-yes">loading...</span></label>
                            </label>

                            <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                                <label for="q5_no"><input type="radio" name="q5" value="No"
                                                          class="g-xs-up g-pos-abs g-top-0 g-left-0" id="q2_no">
                                    <span data-i18n="somos-no">loading...</span></label>
                            </label>

                        </div>


                        <div class="g-mb-20" id="q6">
                            <h4 class="h5 g-font-weight-700 g-mb-20" data-i18n="rendr-q6-i">loading...</h4>

                            <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                                <label for="q6_yes"><input type="radio" name="q6" value="Yes"
                                                           class="g-xs-up g-pos-abs g-top-0 g-left-0" id="q6_yes">
                                    <span data-i18n="somos-yes">loading...</span></label>
                            </label>

                            <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                                <label for="q6_no"><input type="radio" name="q6" value="No"
                                                          class="g-xs-up g-pos-abs g-top-0 g-left-0" id="q2_no">
                                    <span data-i18n="somos-no">loading...</span></label>
                            </label>

                        </div>


                        <button class="btn btn-block btn-success g-color-white g-bg-primary-dark-v1--hover g-font-weight-600 g-font-size-12 text-uppercase rounded-0 g-px-25 g-py-15"
                                type="submit"><i class="fa fa-fw fa-check-circle-o"></i><span
                                data-i18n="somos-submit">Submit</span></button>
                    </form>
                    <!-- End Login Form -->


                </div>

            </div>
        </div>
        <!-- Login -->


    </main>
    <!-- End Content -->